## SQL Notebook for Peer Assignment

In [1]:
import pandas as pd
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db") # Create the connection object(se genera un file .db)
cur = con.cursor() # Extraer el methodo CURSOR para ejecutar los sql comandos

### Load the sql extension y asignar la base de datos a la que la extension sql accederá

In [2]:
%load_ext sql
%sql sqlite:///my_data1.db

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi") #name of the table to create, method(insert multiple rows in the same statement)

101

Note:This below code is added to remove blank rows from table

### notar que ya se creó la tabla llamada SPACEXTBL en la base de datos

In [4]:
%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [5]:
%%sql
SELECT name FROM sqlite_master
            WHERE TYPE="table"

 * sqlite:///my_data1.db
Done.

[('SPACEXTBL',)]

In [8]:
%%sql
select * from SPACEXTBL limit 10

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

#### El siguiente codigo es para crear otra table en base a la primera en caso de que esta ultima tuviera rows en blanco

In [9]:
%%sql 
create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%%sql
SELECT name FROM sqlite_master
            WHERE TYPE="table"

 * sqlite:///my_data1.db
Done.

[('SPACEXTBL',), ('SPACEXTABLE',)]

In [11]:
%%sql
select * from SPACEXTABLE limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

Now write and execute SQL queries to solve the assignment tasks.\
Note: If the column names are in mixed case enclose it in double quotes For Example "Landing_Outcome"

### Task 1
Display the names of the unique launch sites in the space mission

In [18]:
%%sql
select distinct(Launch_Site) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

## Task 2
Display 5 records where launch sites begin with the string 'CCA'

In [21]:
%%sql
select * from SPACEXTABLE where Launch_Site like 'CCA%'
         limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Task 3
Display the total payload mass carried by boosters launched by NASA (CRS)

In [23]:
%%sql
select sum(PAYLOAD_MASS__KG_) as Total_mass from SPACEXTABLE
                              where Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

In [29]:
%%sql
SELECT Customer, SUM(PAYLOAD_MASS__KG_) as Total_mass from SPACEXTABLE
                                 group by Customer limit 10

 * sqlite:///my_data1.db
Done.

[('ABS Eutelsat', 7759),
 ('AsiaSat', 8963),
 ('Bulsatcom', 3669),
 ('CONAE', 3000),
 ('CONAE, PlanetIQ, SpaceX', 3130),
 ('Canadian Space Agency (CSA)', 4200),
 ('EchoStar', 5600),
 ('Es hailSat', 5300),
 ('Hisdesat exactEarth SpaceX', 2150),
 ('Hispasat  NovaWurks', 6092)]

## Task 4
Display average payload mass carried by booster version F9 v1.1

In [26]:
%%sql
select avg(PAYLOAD_MASS__KG_) as AVG_load_mass from SPACEXTABLE
                              where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

In [28]:
%%sql
SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_) 
                        as AVG_load_mass from SPACEXTABLE
                        group by Booster_Version limit 10

 * sqlite:///my_data1.db
Done.

[('F9 B4  B1039.2', 2647.0),
 ('F9 B4  B1040.2', 5384.0),
 ('F9 B4  B1041.2', 9600.0),
 ('F9 B4  B1043.2', 6460.0),
 ('F9 B4 B1039.1', 3310.0),
 ('F9 B4 B1040.1', 4990.0),
 ('F9 B4 B1041.1', 9600.0),
 ('F9 B4 B1042.1', 3500.0),
 ('F9 B4 B1043.1', 5000.0),
 ('F9 B4 B1044', 6092.0)]

## Task 5
List the date when the first succesful landing outcome in ground pad was acheived.

In [30]:
%%sql
select distinct(Landing_Outcome) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [31]:
%%sql
select min(Date) from SPACEXTABLE 
                where Landing_Outcome = 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

## Task 6
List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

Con between

In [32]:
%%sql
select Booster_Version from SPACEXTABLE
        where Landing_Outcome = 'Success (drone ship)'
        and PAYLOAD_MASS__KG_ between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

CON < >

In [36]:
%%sql
select Booster_Version from SPACEXTABLE
                       where Landing_Outcome = 'Success (drone ship)'
                       and PAYLOAD_MASS__KG_ >4000 and PAYLOAD_MASS__KG_ <6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

## Task 7
List the total number of successful and failure mission outcomes

In [41]:
%%sql
select count(Landing_Outcome) 
    as total from SPACEXTABLE
    where lower(Landing_Outcome) like '%succes%'

 * sqlite:///my_data1.db
Done.

[(61,)]

In [42]:
%%sql
select count(Landing_Outcome) as total from SPACEXTABLE
                                where lower(Landing_Outcome) like '%fail%'

 * sqlite:///my_data1.db
Done.

[(10,)]

## Task 8
List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

Esta será la subquery:

In [44]:
%%sql
select max(PAYLOAD_MASS__KG_) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[(15600,)]

In [45]:
%%sql

select Booster_Version from SPACEXTABLE
            where PAYLOAD_MASS__KG_ =
            (select max(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

## Task 9
List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.\
Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [65]:
%%sql
DROP VIEW IF EXISTS TABLE_VIEW;

CREATE VIEW TABLE_VIEW AS
            select Date, Landing_Outcome, Booster_Version, Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.
Done.

[]

In [66]:
%%sql

select * from TABLE_VIEW

 * sqlite:///my_data1.db
Done.

[('2010-06-04', 'Failure (parachute)', 'F9 v1.0  B0003', 'CCAFS LC-40'),
 ('2010-12-08', 'Failure (parachute)', 'F9 v1.0  B0004', 'CCAFS LC-40'),
 ('2012-05-22', 'No attempt', 'F9 v1.0  B0005', 'CCAFS LC-40'),
 ('2012-10-08', 'No attempt', 'F9 v1.0  B0006', 'CCAFS LC-40'),
 ('2013-03-01', 'No attempt', 'F9 v1.0  B0007', 'CCAFS LC-40'),
 ('2013-09-29', 'Uncontrolled (ocean)', 'F9 v1.1  B1003', 'VAFB SLC-4E'),
 ('2013-12-03', 'No attempt', 'F9 v1.1', 'CCAFS LC-40'),
 ('2014-01-06', 'No attempt', 'F9 v1.1', 'CCAFS LC-40'),
 ('2014-04-18', 'Controlled (ocean)', 'F9 v1.1', 'CCAFS LC-40'),
 ('2014-07-14', 'Controlled (ocean)', 'F9 v1.1', 'CCAFS LC-40'),
 ('2014-08-05', 'No attempt', 'F9 v1.1', 'CCAFS LC-40'),
 ('2014-09-07', 'No attempt', 'F9 v1.1 B1011', 'CCAFS LC-40'),
 ('2014-09-21', 'Uncontrolled (ocean)', 'F9 v1.1 B1010', 'CCAFS LC-40'),
 ('2015-01-10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('2015-02-11', 'Controlled (ocean)', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('2015-03-02', 'No attempt', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('2015-04-14', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('2015-04-27', 'No attempt', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('2015-06-28', 'Precluded (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('2015-12-22', 'Success (ground pad)', 'F9 FT B1019', 'CCAFS LC-40'),
 ('2016-01-17', 'Failure (drone ship)', 'F9 v1.1 B1017', 'VAFB SLC-4E'),
 ('2016-03-04', 'Failure (drone ship)', 'F9 FT B1020', 'CCAFS LC-40'),
 ('2016-04-08', 'Success (drone ship)', 'F9 FT B1021.1', 'CCAFS LC-40'),
 ('2016-05-06', 'Success (drone ship)', 'F9 FT B1022', 'CCAFS LC-40'),
 ('2016-05-27', 'Success (drone ship)', 'F9 FT B1023.1', 'CCAFS LC-40'),
 ('2016-06-15', 'Failure (drone ship)', 'F9 FT B1024', 'CCAFS LC-40'),
 ('2016-07-18', 'Success (ground pad)', 'F9 FT B1025.1', 'CCAFS LC-40'),
 ('2016-08-14', 'Success (drone ship)', 'F9 FT B1026', 'CCAFS LC-40'),
 ('2017-01-14', 'Success (drone ship)', 'F9 FT B1029.1', 'VAFB SLC-4E'),
 ('2017-02-19', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('2017-03-16', 'No attempt', 'F9 FT B1030', 'KSC LC-39A'),
 ('2017-03-30', 'Success (drone ship)', 'F9 FT  B1021.2', 'KSC LC-39A'),
 ('2017-05-01', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('2017-05-15', 'No attempt', 'F9 FT B1034', 'KSC LC-39A'),
 ('2017-06-03', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('2017-06-23', 'Success (drone ship)', 'F9 FT  B1029.2', 'KSC LC-39A'),
 ('2017-06-25', 'Success (drone ship)', 'F9 FT B1036.1', 'VAFB SLC-4E'),
 ('2017-07-05', 'No attempt', 'F9 FT B1037', 'KSC LC-39A'),
 ('2017-08-14', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('2017-08-24', 'Success (drone ship)', 'F9 FT B1038.1', 'VAFB SLC-4E'),
 ('2017-09-07', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('2017-10-09', 'Success (drone ship)', 'F9 B4 B1041.1', 'VAFB SLC-4E'),
 ('2017-10-11', 'Success (drone ship)', 'F9 FT  B1031.2', 'KSC LC-39A'),
 ('2017-10-30', 'Success (drone ship)', 'F9 B4 B1042.1', 'KSC LC-39A'),
 ('2017-12-15', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40'),
 ('2017-12-23', 'Controlled (ocean)', 'F9 FT  B1036.2', 'VAFB SLC-4E'),
 ('2018-01-08', 'Success (ground pad)', 'F9 B4 B1043.1', 'CCAFS SLC-40'),
 ('2018-01-31', 'Controlled (ocean)', 'F9 FT  B1032.2', 'CCAFS SLC-40'),
 ('2018-02-22', 'No attempt', 'F9 FT  B1038.2', 'VAFB SLC-4E'),
 ('2018-03-06', 'No attempt', 'F9 B4 B1044', 'CCAFS SLC-40'),
 ('2018-03-30', 'No attempt', 'F9 B4  B1041.2', 'VAFB SLC-4E'),
 ('2018-04-02', 'No attempt', 'F9 B4  B1039.2', 'CCAFS SLC-40'),
 ('2018-04-18', 'Success (drone ship)', 'F9 B4 B1045.1', 'CCAFS SLC-40'),
 ('2018-05-11', 'Success (drone ship)', 'F9 B5  B1046.1', 'KSC LC-39A'),
 ('2018-05-22', 'No attempt', 'F9 B4  B1043.2', 'VAFB SLC-4E'),
 ('2018-06-04', 'No attempt', 'F9 B4  B1040.2', 'CCAFS SLC-40'),
 ('2018-06-29', 'No attempt', 'F9 B4 B1045.2', 'CCAFS SLC-40'),
 ('2018-07-22', 'Success', 'F9 B5B1047.1', 'CCAFS SLC-40'),
 ('2018-07-25', 'Success', 'F9 B5B1048.1', 'VAFB SLC-4E'),
 ('2018-08-07', 'Success', 'F9 B5 B1046.2', 'CCAFS SLC-40'),
 ('2018-09-10', 'Success', 'F9 B5B1049.1', 'CCAFS SLC-40'),
 ('2018-10-08', 'Success', 'F9 B5 B1048.2', 'VAFB SLC-4E'),
 ('2018-11-15', 'Success', 'F9 B5 B1047.2', 'KSC LC-39A'),
 ('2018-12-03', 'Success', 'F9 B5 B1046.3', 'VAFB SLC-4E'),
 ('2018-12-05', 'Failure', 'F9 B5B1050', 'CCAFS SLC-40'),
 ('2018-12-23', 'No attempt', 'F9 B5B1054', 'CCAFS SLC-40'),
 ('2019-01-11', 'Success', 'F9 B5 B1049.2', 'VAFB SLC-4E'),
 ('2019-02-22', 'Success', 'F9 B5 B1048.3', 'CCAFS SLC-40'),
 ('2019-03-02', 'Success', 'F9 B5B1051.1', 'KSC LC-39A'),
 ('2019-05-04', 'Success', 'F9 B5B1056.1 ', 'CCAFS SLC-40'),
 ('2019-05-24', 'Success', 'F9 B5 B1049.3', 'CCAFS SLC-40'),
 ('2019-06-12', 'Success', 'F9 B5 B1051.2 ', 'VAFB SLC-4E'),
 ('2019-07-25', 'Success', 'F9 B5 B1056.2 ', 'CCAFS SLC-40'),
 ('2019-08-06', 'No attempt ', 'F9 B5 B1047.3 ', 'CCAFS SLC-40'),
 ('2019-11-11', 'Success', 'F9 B5 B1048.4', 'CCAFS SLC-40'),
 ('2019-12-05', 'Success', 'F9 B5B1059.1', 'CCAFS SLC-40'),
 ('2019-12-17', 'Success', 'F9 B5 B1056.3 ', 'CCAFS SLC-40'),
 ('2020-01-07', 'Success', 'F9 B5 B1049.4', 'CCAFS SLC-40'),
 ('2020-01-19', 'No attempt', 'F9 B5 B1046.4', 'KSC LC-39A'),
 ('2020-01-29', 'Success', 'F9 B5 B1051.3', 'CCAFS SLC-40'),
 ('2020-02-17', 'Failure', 'F9 B5 B1056.4', 'CCAFS SLC-40'),
 ('2020-03-07', 'Success', 'F9 B5 B1059.2', 'CCAFS SLC-40'),
 ('2020-03-18', 'Failure', 'F9 B5 B1048.5', 'KSC LC-39A'),
 ('2020-04-22', 'Success', 'F9 B5 B1051.4', 'KSC LC-39A'),
 ('2020-05-30', 'Success', 'F9 B5B1058.1 ', 'KSC LC-39A'),
 ('2020-06-04', 'Success', 'F9 B5 B1049.5', 'CCAFS SLC-40'),
 ('2020-06-13', 'Success', 'F9 B5 B1059.3', 'CCAFS SLC-40'),
 ('2020-06-30', 'Success', 'F9 B5B1060.1', 'CCAFS SLC-40'),
 ('2020-07-20', 'Success', 'F9 B5 B1058.2 ', 'CCAFS SLC-40'),
 ('2020-08-07', 'Success', 'F9 B5 B1051.5', 'KSC LC-39A'),
 ('2020-08-18', 'Success', 'F9 B5 B1049.6', 'CCAFS SLC-40'),
 ('2020-08-30', 'Success', 'F9 B5 B1059.4', 'CCAFS SLC-40'),
 ('2020-09-03', 'Success', 'F9 B5 B1060.2 ', 'KSC LC-39A'),
 ('2020-10-06', 'Success', 'F9 B5 B1058.3 ', 'KSC LC-39A'),
 ('2020-10-18', 'Success', 'F9 B5 B1051.6', 'KSC LC-39A'),
 ('2020-10-24', 'Success', 'F9 B5 B1060.3', 'CCAFS SLC-40'),
 ('2020-11-05', 'Success', 'F9 B5B1062.1', 'CCAFS SLC-40'),
 ('2020-11-16', 'Success', 'F9 B5B1061.1 ', 'KSC LC-39A'),
 ('2020-11-21', 'Success', 'F9 B5B1063.1', 'VAFB SLC-4E'),
 ('2020-11-25', 'Success', 'F9 B5 B1049.7 ', 'CCAFS SLC-40'),
 ('2020-12-06', 'Success', 'F9 B5 B1058.4 ', 'KSC LC-39A')]

## Task 10
Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [64]:
%%sql
select Landing_Outcome, count(Landing_Outcome) as Count from SPACEXTABLE
                            where Date between '2010-06-04' and '2017-03-20'
                            group by Landing_Outcome
                            order by Count desc

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]